* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333333;
    background-color: #ffffff;
    line-height: 1.5;
    font-size: 14px;
}

.wrap {
    height: 100vh;
}

.container {
    height: calc(100% - 120px);
    display: flex;
}


/* side */
.side {
    width: 200px;
    height: 100%;
    background-color: #ffffff;
}

.logo {
    padding: 20px 0;
}

.gnb {
    padding: 16px;
}
.gnb > li {
    position: relative;
}
.gnb > li > a {
    display: block;
    padding: 10px 16px;
    border-bottom: 1px solid #999;
}

.gnb > li:hover > a {
    background-color: #eee;
}

.gnb ul {
    display: none;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 168px;
    width: 100%;
    border: 1px solid #999;
    z-index: 1;
}

.gnb ul li {}

.gnb ul li a {
    display: block;
    padding: 10px 16px;
}

.gnb ul li a:hover {
    background-color: #111;
    color: #ffffff;
}



/* main */
.main {
    width: 400px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 1px solid #ccc;
}

.main > div {
    border-bottom: 1px dotted #999;
    padding: 0 0 30px 0; 
}

.banner {
    display: flex;
    gap: 16px;
    align-items: center;
}

.banner .photo {
    width: 90px;
}

.banner .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .text {
    flex: 1;
}

.text h3 {
    margin-bottom: 6px;
}

.banner .arr {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 4px solid #999;
    border-right: 4px solid #999;
    transform: rotate(45deg);
}

.main h2 {
    display: block;
    font-size: 18px;
    height: 40px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #999;
    border-bottom: none;
    position: relative;
    margin-bottom: 10px;
}

.main h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100px;
    height: 1px;
    width: 240px;
    background-color: #999;
}


.notice ul {}
.notice ul li {}
.notice ul li a {
    display: flex;
    gap: 50px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.notice ul li a:hover {
    text-decoration: underline;
}

.notice ul li a p {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gallery ul {
    display: flex;
    gap: 6px;
    padding: 6px;
}

.gallery li a {}
.gallery li a:hover img {
    filter: brightness(50%)
}
.gallery li a:hover p {
    text-decoration: underline;
}

.gallery li a img {
    width: 100%;
}
.gallery li a p {
    font-size: 12px;
    margin-top: 6px;
}

.links {}

.links ul {
    display: flex;
    gap: 10px;
    padding: 6px;
}

.links ul li {}
.links ul li a {
    display: block;
    width: 100%;
}

.links ul li a img {
    width: 100%;
    object-fit: cover;
}

.links ul li a p {
    text-align: center;
}

.links ul li a:hover img {
    filter: brightness(50%);
}

.links ul li a:hover p {
    text-decoration: underline;
}


/* slider */

.slider {
    flex: 1;
    /* width: calc(100% - 600px); */
    height: 100%;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
}

.slide {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide a:nth-child(1) {
    left: 0;
}
.slide a:nth-child(2) {
    left: 100%;
}
.slide a:nth-child(3) {
    left: 200%;
}

.slider img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/* footer */
.footer{
    background-color: #eee;
    height: 120px;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.info {
    padding: 020px;
}

.info .f_menu {
    padding: 6px 0;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.info .f_menu a {
    display: block;
    padding-right: 10px;
    position: relative;
}

.info .f_menu a:last-child::after {
    display: none;
}

.info .f_menu a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #999;
}

.info .f_menu a:hover {
    text-decoration: underline;
}